body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

 /* Adjust the style for the top section */
#top_sect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2a5caa;
}

/* Style for the "Scan QR" button */
#main_btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #2a5caa;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#main_btn:hover {
    background-color: #ddd;
}
